
header {
  color: #000000;
  font-family: 'Vollkorn';
}

body {
  color: #000000;
  font-family: 'Vollkorn';
  padding-left: 30px;
}

p {
  padding-left: 100px;
}

.page-header {
    background-color: #white;
    color: #000000;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 80px;
}

h1, h2, h3, h4 {
    font-family: 'Vollkorn';
    color: #000000;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 50px;
  padding: 0;
}

li {
    display: inline;
}

btn-custom {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
 }
.btn-custom:hover {
   background-color: #000;
   border-color: #fff;
   color: #ccfff5;
}
