{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='//fonts.googleapis.com/css?family=Vollkorn&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/texts.css' %}">
<html>
<header>Tester</header>
<main>
  <head>
    <title>Diary Entry</title>
  </head>
  <body>
  <p>{{html}}</p>
  </body>
<main>
</html>
